/*/obj/
/*/bin/
/API/appsettings.development.json
.vs/
.idea/
/API/.env
/Infraestrutura/Documentos/
Prisma_Challenge_2TDSPK_2025.*
Tests/Aplicacao.Tests/bin
Tests/Aplicacao.Tests/obj
Tests/Aplicacao.Tests/TestResults
/Tests/**/TestResults/
/TestResults/
/coverage-report/
